In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv('data_7_55_max.csv')

In [4]:
df

        N1_1  VRTG  ALT_RADIO  DIST_TO_THR_CONV    IVV     LOC  PITCH
0       58.4  1.08        590           3100.45 -704.0  0.0101    0.9
1       58.4  1.11        578           3038.85 -608.0  0.0101    1.1
2       57.4  0.99        567           2974.06 -624.0  0.0202    0.7
3       56.5  1.09        555           2896.50 -736.0  0.0101    0.5
4       56.9  1.07        544           2827.87 -672.0  0.0101    0.9
...      ...   ...        ...               ...    ...     ...    ...
108345  32.0  1.40          1            670.20 -176.0  0.0000    2.6
108346  32.0  1.15          0            743.22  -96.0 -0.0101    2.1
108347  32.1  1.08          0            814.89  -96.0 -0.0101    1.8
108348  31.8  1.08          0            885.65 -256.0 -0.0403    0.5
108349  30.8  1.04          0            954.60  -32.0 -0.0504   -0.9

[108350 rows x 7 columns]

In [6]:
(len(df)/55)

1970.0

In [7]:
df

        N1_1  VRTG  ALT_RADIO  DIST_TO_THR_CONV    IVV     LOC  PITCH
0       58.4  1.08        590           3100.45 -704.0  0.0101    0.9
1       58.4  1.11        578           3038.85 -608.0  0.0101    1.1
2       57.4  0.99        567           2974.06 -624.0  0.0202    0.7
3       56.5  1.09        555           2896.50 -736.0  0.0101    0.5
4       56.9  1.07        544           2827.87 -672.0  0.0101    0.9
...      ...   ...        ...               ...    ...     ...    ...
108345  32.0  1.40          1            670.20 -176.0  0.0000    2.6
108346  32.0  1.15          0            743.22  -96.0 -0.0101    2.1
108347  32.1  1.08          0            814.89  -96.0 -0.0101    1.8
108348  31.8  1.08          0            885.65 -256.0 -0.0403    0.5
108349  30.8  1.04          0            954.60  -32.0 -0.0504   -0.9

[108350 rows x 7 columns]

In [8]:
col=['N1_1','VRTG','ALT_RADIO','DIST_TO_THR_CONV','IVV', 'LOC','PITCH']

In [26]:
df2=df[col].iloc[88000:]

In [9]:
df2=df[col].iloc[:88000]

In [27]:
df2

        N1_1  VRTG  ALT_RADIO  DIST_TO_THR_CONV    IVV     LOC  PITCH
88000   70.0  1.01        861           3490.11 -768.0 -0.0302    1.6
88001   69.9  1.02        841           3452.78 -784.0 -0.0504    1.8
88002   69.9  1.02        830           3418.82 -768.0 -0.0504    1.8
88003   70.0  1.03        828           3350.60 -752.0 -0.0706    1.8
88004   70.0  1.02        832           3270.81 -752.0 -0.0706    1.6
...      ...   ...        ...               ...    ...     ...    ...
108345  32.0  1.40          1            670.20 -176.0  0.0000    2.6
108346  32.0  1.15          0            743.22  -96.0 -0.0101    2.1
108347  32.1  1.08          0            814.89  -96.0 -0.0101    1.8
108348  31.8  1.08          0            885.65 -256.0 -0.0403    0.5
108349  30.8  1.04          0            954.60  -32.0 -0.0504   -0.9

[20350 rows x 7 columns]

In [28]:
n_shapes=int(20350/55)
list1=np.array(df2.iloc[:,0]).reshape(n_shapes,55)
list2=np.array(df2.iloc[:,1]).reshape(n_shapes,55)
list3=np.array(df2.iloc[:,2]).reshape(n_shapes,55)
list4=np.array(df2.iloc[:,3]).reshape(n_shapes,55)
list5=np.array(df2.iloc[:,4]).reshape(n_shapes,55)
list6=np.array(df2.iloc[:,5]).reshape(n_shapes,55)
list7=np.array(df2.iloc[:,6]).reshape(n_shapes,55)

In [29]:
p4 = np.empty([n_shapes,7,55])
p4[:,0,:]=list1
p4[:,1,:]=list2
p4[:,2,:]=list3
p4[:,3,:]=list4
p4[:,4,:]=list5
p4[:,5,:]=list6
p4[:,6,:]=list7

In [30]:
np.save(file="X_test.npy", arr=p4)

In [31]:
list11=pd.Series(0,index=range(n_shapes))
count=0
for i in range(len(list2)):
    for j in range(49,51):
        if list2[i][j] > 1.4:
            count+=1
            list11[i]=1

In [32]:
for i in range(len(list4)):
    # for j in range(0,55):
        if abs(list4[i][50]) >= 750 or abs(list4[i][50]) < 200:
            count+=1
            list11[i]=1

In [33]:
for i in range(len(list5)):
    for j in range(0,55):
        if abs(list5[i][j]) >= 1100:
            count+=1
            list11[i]=1

In [34]:
for i in range(len(list6)):
    for j in range(0,55):
        if abs(list6[i][j]) >= 1:
            count+=1
            list11[i]=1

In [35]:
count=0
for i in range(len(list11)):
    if list11[i]==1:
        count+=1

In [36]:
count

115

In [25]:
np.save(file="y_test.npy", arr=np.array(list11))